# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip

# User defined
nbproject/private/
build/
dist/
CaRMS-ejb/nbproject/private
CaRMS-ejb/build/
CaRMS-ejb/dist/

CaRMS-war/nbproject/private
CaRMS-war/build/
CaRMS-war/dist/

CaRMSManagementClient/nbproject/private
CaRMSManagementClient/build/
CaRMSManagementClient/dist/

CaRMSReservationClient/nbproject/private
CaRMSReservationClient/build/
CaRMSReservationClient/dist/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/CaRMSClassLibrary/nbproject/private/
/HolidayReservationSystem/nbproject/private/
